$schema: "https://json-schema.org/draft/2020-12/schema"

type: object

properties:
    configfile:
        type: string
    samples:
        type: object
    mcool_resolutions:
        type: ["object", "null"]
        additionalProperties:
            type: array
            uniqueItems: true
            items:
                type: integer
    genome_versions:
        type: ["object", "null"]
        additionalProperties:
            type: string
    chromosome_list:
        type: array
        uniqueItems: true
        items:
            type: string
    window_size_list:
        type: array
        uniqueItems: true
        items:
            type: integer
    tad_borders:
        type: object
        additionalProperties:
            type: array
            prefixItems:
                - type: integer
                - type: integer
            unevaluatedItems: false
    snp_filters:
        type: object
    input_files:
        type: object
        properties:
            disgenet:
                type: string
            gwascatalog:
                type: string
            disease_ontology:
                type: string
            exp_factor_ontology:
                type: string
            sequence_ontology:
                type: string
        additionalProperties:
            type: string
        required:
            - disgenet
            - gwascatalog
            - disease_ontology
            - exp_factor_ontology
            - sequence_ontology
    annotation_sources:
        type: object
    parameters:
        type: object
        properties:
            associated_gene_source:
                type: string
                enum: [mapped, reported]
            allow_snp_multiplicity_in_enrichment:
                type: boolean
            enrichment_distribution:
                type: string
                enum: [binom, hypergeom]
            enrichment_null_model:
                type: string
                enum: [base_sample, snp_sample]
            main_dataset:
                type: string
            snp_majority_vote_border_fraction_threshold:
                type: number
            window_aggregation:
                type: object
                properties:
                    disease_fraction_threshold:
                        type: number
                    window_size_list:
                        type: ["array", "null"]
                        uniqueItems: true
                        items:
                            type: integer
                    snp_count_threshold_list:
                        type: array
                        uniqueItems: true
                        items:
                            type: integer
                required:
                    - disease_fraction_threshold
                    - snp_count_threshold_list
        required:
            - associated_gene_source
            - allow_snp_multiplicity_in_enrichment
            - enrichment_distribution
            - enrichment_null_model
            - main_dataset
            - snp_majority_vote_border_fraction_threshold
            - window_aggregation
    sketch:
        type: object
        properties:
            region:
                type: array
                prefixItems:
                    - type: string
                    - type: integer
                    - type: integer
                unevaluatedItems: false
            data_source:
                type: string
            window_size:
                type: integer
additionalProperties: false
required:
    - samples
    - chromosome_list
    - window_size_list
    - snp_filters
    - input_files
    - annotation_sources
    - parameters
